body,html{
    height: 100%;
    margin:0 auto;
}   

.link{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: impact;
} 
.link:hover{
    background-color: #A92543;
    color: #060045;
}
.home{
    width: 105%;
    height: 105%;
    background-image: url(../img/barca.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px 0px;
}
/*heading*/
.heading-1{
    font-family: Impact ;
    font-size: 100px;
    color: white;
    margin: center;
	
}	

.heading-2{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    margin: auto;
}
.heading-3{
    font-family: fraktur;
    font-size: 20px;
    color: #000;
    margin: auto;

}

/**Section Content**/
.content{
    width: 105%;
	height: 290%;
    min-height: 300px;
    background-image: url(../img/pp.jpeg);
    background-size: cover;
    padding: 100px 0px;
}

/**content 2**/
.content2{
    background: #387FFA;
    width: 110%;
    min-height: 100%;
    padding: 50px 0px;
}
.col-border{
    min-height: 100px;
    border: solid 1px #fff;
    text-align: center;
    padding:10px 0px;
}